body {
    background-color: #000;
    color: #fff;

}
h1 {
    text-align: center;
    margin-top: 4rem;
}
table {
    margin: auto;
    width: 100%;
    gap: 20px;
}
td {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
